footer {
  color: white;
  background-color: var(--primary-green);
}

footer h4 {
  margin-left: 0;
}

footer p {
  font-size: 12pt;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#footer {
  flex-direction: row;
}

@media (max-width: 767.98px) {
  #footer {
      flex-direction: column;
  }
  
}