header nav {
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar-brand img {
  height: 60px;
}

@media (max-width: 991.98px) {
  header nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  header .navbar-brand img {
    height: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

header nav ul li {
  padding: 2px 12px;
}

header nav ul li a {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 14pt;
  color: var(--primary-green);
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}
