#testimonials h1 {
    color: var(--primary-yellow);
}

#testimonials-list {
    justify-content: space-between;
}

@media (max-width: 767.98px) {
    #testimonials-list {
        justify-content: center;
    }
}