:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-red: #EE9972;
  --secondary-peach: #FBDABB;
  --highlight-light: #EDEFEE;
  --highlight-dark: #333333;

  --primary-font-family: "Markazi Text", serif;
  --secondary-font-family: "Karla", serif;

  --menu-height: 86px;
  --default-border-radius: 16px;
}

@media (max-width: 991.98px) {
  :root {
    --menu-height: 60px;
  }
}

/* Title */
h1 {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 48pt;
}

/* Sub Title */
h2 {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 24pt;
}

/* Section Title */
h3 { 
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 20pt;
  text-transform: uppercase;
}

/* Section Categories */
h4 { 
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 16pt;
}

/* Card Title */
h5 { 
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 16pt;
}

/* Lead Text */
h6 { 
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 14pt;
}

p {
  font-family: var(--secondary-font-family);
  font-size: 12pt;
  line-height: 1.5em;
}

body {
  margin-top: var(--menu-height);
  height: 100%;
}

section {
  padding: 1.5rem;
}

.btn-primary {
  background-color: var(--primary-yellow);
  color: var(--highlight-dark);
  border-radius: var(--default-border-radius);
  padding: 0.5rem 2rem;
  border: none;
}

.btn-primary:hover {  
  background-color: var(--secondary-peach);
  color: var(--highlight-dark);
}